<% if submission.errors.any? %>
  <% submission.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
  <% end %>
<% end %>
<%= form_with(model: submission, local: true) do |form| -%>
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-none">
      <div class="form-group">
        <%= form.label :item, class: "fw-bold" %>
        <%= form.text_field :item, placeholder: "Enter item", type: "hidden", class: "form-control", value: params[:prefill_Item] || "unspecified" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label "Full name(s)", class: "fw-bold" %>
        <p>If you were pairing, include both names.</p>
        <%= form.text_field :full_name, placeholder: "Enter your full name", required: true, class: "form-control" %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-group">
        <%= form.label "Recording", class: "fw-bold" %>
        <p>Upload your recording here.</p>
        <%= form.file_field :video, required: true, placeholder: "Attach your video", accept: "video/*", class: "form-control" %>
      </div>
    </li>

    <li class="list-group-item">
      <div class="form-group">
        <%= form.label :reflections, class: "fw-bold" %>
        <p>Optionally, share how you felt the session went.</p>
        <%= form.text_area :reflections, placeholder: "Enter reflections", class: "form-control" %>
      </div>
    </li>
  </ul>
  <div class="card-footer">
    <%= link_to "Cancel", :back, class: "btn btn-outline-secondary float-start" %>
    <%= form.submit "Save", class: "btn btn-primary float-end" if submission.persisted? %>
    <%= form.submit "Create", class: "btn btn-primary float-end" if !submission.persisted? %>
  </div>
</div>
<% end %>
