<div class="container mb-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Submissions</li>
    </ol>
  </nav>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
    <% @submissions.each do |submission| %>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text"><i class="bi bi-file-text me-2" title="Assessment Item"></i><b><%= submission.item %></b></p>
            <p class="card-text"><i class="bi bi-pencil me-2" title="Author(s)"></i><b><%= submission.full_name %></b></p>
            <p class="card-text"><i class="bi bi-chat-left-text me-2" title="Number of reviews"></i><b><%= pluralize(submission.reviews.length, "review") %></b></p>
            <div class="card-text"><i class="bi bi-eye me-2"></i><%= link_to "View", submission %></div>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= submission.created_at %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
