<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Submissions", submissions_path %></li>
      <li class="breadcrumb-item active mr-auto" aria-current="page"><%= @submission.id %></li>
    </ol>
  </nav>
  <div class="card mb-4">
    <h4 class="card-header"><i class="bi bi-camera-reels me-2"></i>Video Submission for <%= @submission.item %> by <%= @submission.full_name %></h4>
    <ul class="list-group list-group-flush">
      <% if @submission.reflections %>
        <li class="list-group-item">
          <h5 class="fw-bold my-2">Author's Reflections</h5>
          <p class="fw-normal"><%= @submission.reflections %></p>
        </li>
      <% end %>
      <li class="list-group-item">
        <h5 class="fw-bold my-2">Video</h5>
        <%= video_tag url_for(@submission.video), controls: true %>
      </li>
      <li class="list-group-item">
        <h5 class="fw-bold my-2">Reviews</h5>
        <% if @submission.reviews.length > 0 %>
          <% @submission.reviews.each do |review| %>
            <%= render review %>
          <% end %>
        <% else %>
          <p>This submission doesn't have any reviews yet!</p>
      <% end %>
      </li>
      <li class="list-group-item">
        <h5 class="fw-bold my-2">Add Review</h5>
        <%= render "reviews/form" %>
      </li>
    </ul>
  </div>
</div>
